@{
    Layout = null;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex justify-content-center align-items-center" style="margin-top: 20px; margin-bottom: 20px;">
    <img style="max-width: 500px; width: 100%; height: auto;" src="~/Content/Images/UnderConstruction.png" />
</div>