body {
	font-family: 'Raleway', sans-serif;
	/*
	background: url(http://subtlepatterns.com/patterns/subtlenet2.png);
	*/
	background-color: #f2f2f2;
}

.body-wrapper {
	min-height: 100%;
}

.navigation-bar {
	display: -webkit-box;
    display: -ms-flexbox;
    	display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    	flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
	height: auto;
	background-color: #3b3b3b;
}

.logo,
a.logo:hover {
	margin-top: auto;
	margin-bottom: auto;
	font-size: 25px;
	color: #838383;
	text-decoration: none;
}

.navigation-menu {
	margin: auto;
}

.navigation-menu a {
	color: #838383;
	text-decoration: none;
}

.navigation-menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: -webkit-box;
    display: -ms-flexbox;
    	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	    flex-direction: row;
}

.navigation-menu > ul > li {
	width: 125px;
	text-align: center;
	margin-right: 25px;
	-webkit-transition: all 0.4s ease-out;
	-moz-transition: all 0.4s ease-out;
	-o-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;
}

.navigation-menu > ul > li > ul {
	display: none;
	width: 125px;
	-webkit-transition: all 0.4s ease-out;
	-moz-transition: all 0.4s ease-out;
	-o-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;
}

.navigation-bar ul li:hover {
	background-color: #d8d8d8;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.navigation-menu > ul > li:hover > ul {
	display: block;
	position: absolute;
	background-color: #3f3f3f;
	box-shadow: 5px 5px 15px 0 black;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.body-container {
	display: -webkit-box;
    display: -ms-flexbox;
    	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	    flex-direction: row;
	background-color: #f2f2f2;
    min-height:100vh;
    padding-bottom: 25px;
}

.content {
	width: 70%;
    margin: 25px 10px 0 10px;
}

.post-container {
	display: -webkit-box;
    display: -ms-flexbox;
    	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	    flex-direction: row;
	-ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
    max-width: 1024px;
    margin: auto;
}

.post {
	width: 250px;
    height: 100%;
	margin: 25px 10px 0px 10px;
	-webkit-transition: all 0.4s ease-out;
	-moz-transition: all 0.4s ease-out;
	-o-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;
}

.post a,
.post:hover a {
	text-decoration:none;
}

.post:hover {
	box-shadow: 5px 5px 15px 0 black;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.post-image {
	width: 100%;
	height: auto;
    max-height: 75px;
}

.post-header,
.post-header:hover {
	background-color: #3b3b3b;
	overflow-wrap: break-word;
	padding: 10px;
	color: #a8a8a8;
	text-align: center;
}

.no-posts span {
    color: #a10000;
    font-size: 28pt;
    font-weight: bold;
}

.pagination-menu-cur-page {
    font-size: 18px;
    font-weight:bold;
    color: red;
}

.post-pagination {
    text-align:center;
    margin-top: 20px;
}
.post-pagination a {
    text-decoration: none;
    font-size: 16px;
    color: #2B2B2B;
}

.pagination-menu-back-page img {
    width: 25px;
    height: 25px;
}

.pagination-menu-next-page img {
    width:25px;
    height: 25px;
}

.side-menu {
    width: 30%;
}	

.box-menu {
	margin: 25px 10px 0px 10px;	
	/*margin: 5px 5px 45px 5px;*/
	background-color: #3b3b3b;
	/*padding-bottom: 10px;*/
    padding: 10px;
}

.box-head {
	font-size: 24px;
	text-align: center;
}

.box-content {
	overflow-wrap: break-word;
	margin: 5px 10px 10px 10px;
}

.box-account-content {
    display: flex;
    
    flex-direction: row;

}

.user-image {
    width: 100px;
}

.user-interface-user-image {
    min-height: 64px;
    min-width: 64px;
}

.user-interface {
    overflow-wrap: break-word;
    padding-left: 10px;
    color: #838383;
}

.user-interface * {
    color: #B1B1B1;
}

a.btn-primary, input.btn-primary {
    color: #fff;
}

.user-login {
    color: palegreen;
}

.user-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.log-in-form-box {
    width:100%;
}

.img-responsive {
    width: 100%;
    height: auto;
}

.footer {
	display: -webkit-box;
	display: -ms-flexbox;
		display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
    -ms-flex-direction: row;
        flex-direction: row;
	-ms-flex-wrap: wrap;
    	flex-wrap: wrap;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;

	background-color:  #3b3b3b;
    width: 100%;
    height: auto;
    overflow:hidden;
    /*margin-top: 25px;*/
}

.footer-item {
	height: 30px;
	width: 285px;
	text-align: center;
	overflow-wrap: break-word;
    color: #a8a8a8;
}

.footer-item p, .footer-item a {
    color: #d6d6d6;
}

.footer-item a {
	text-decoration: none;
	/*color: #a8a8a8;*/
}

.social-links {
	display: -webkit-box;
	display: -ms-flexbox;
		display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
    -ms-flex-direction: row;
        flex-direction: row;
	-ms-flex-wrap: wrap;
    	flex-wrap: wrap;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
}

.social-link {
	padding: 2px;
	width: 20px;
	font-size: 18px;
	text-align: center;
    text-decoration: none;
}

a.fa-facebook {
	background: #3B5998;
    color: white;
}

a.fa-google {
	background: #dd4b39;
	color: white;
}

a.fa-twitter {
	background: #55ACEE;
	color: white;
}

a.fa-youtube {
	background: #bb0000;
	color: white;
}

.social-links a {
	margin: auto 0;
	margin-right: 25px;
	border-radius: 10px;
}

.social-links a:hover {
	opacity: 0.8;
}

.social-links a:last-child {
	margin-right: 0;
}

.text-for-black-background * {
    color: #B1B1B1;
}

@media all and (max-width: 968px) {
	.body-container {
		-webkit-box-orient: vertical;
    	-webkit-box-direction: normal;
        -ms-flex-direction: column;
        	flex-direction: column;
	}

	.side-menu {
		order: 0;
		width: 100%;
		display: -webkit-box;
    	display: -ms-flexbox;
    		display: flex;
    	-webkit-box-orient: horizontal;
    	-webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    	-ms-flex-wrap: wrap;
        	flex-wrap: wrap;
	}

	.box-menu {
		margin-right: 0.5%;
		margin-left: 0.5%;
	}

	.box-medium {
		width: 49%;
	}

	.box-large {
		width: 99%;
	}

	.content {
		width: 100%;
		order: 1;
	}

	.post {
		width: 200px;
	}
}

@media all and (max-width: 768px) {
	.navigation-bar {
		-webkit-box-orient: vertical;
    	-webkit-box-direction: normal;
        -ms-flex-direction: column;
        	flex-direction: column;
	}

	.logo {
		margin: auto;
	}

	.navigation-menu ul {
		-webkit-box-orient: horizontal;
    	-webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    	-ms-flex-wrap: wrap;
        	flex-wrap: wrap;
		-webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
	}

	.navigation-menu > ul > li:hover > ul {
		position: relative;
	}

	.side-menu {
		width: 100%;
	}

	.box-medium {
		width: 99%;
	}

	.content {
		width: 100%;
	}

	.post {
		width: 100%;
	}
}